@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5 fw-bold">Chào mừng đến với hệ thống quản lý thực tập sinh viên</h1>
    <h2>Lê Việt Nam - DK24TT80171</h2>
    <p class="fs-5 fw-bold">Giảng viên phụ trách: Đoàn Phước Miền</p>
</div>
    